@charset "utf-8"

// ------------------------------------
// modules
// 共通で使うスタイル
// ------------------------------------

body
  padding-bottom: 15px

img
  width: 100%

h1
  margin: 0
  font-size: 16px

p
  margin-top: 5px

h2
  margin-top: 15px
  background-color: #EEE
  padding: 5px 10px

button
  margin-top: 5px
  width: 100%
  height: 44px
  background-color: #f5a623
  border-radius: 3px
  border: none
  font-weight: bold
  color: #FFF

.buttonBox
  margin: 10px 10px 0

ul.information
  margin-top: 10px
  border-top: 1px solid #DDD
  li
    padding: 1em 2em 1em 1em
    font-size: 11px
    border-bottom: 1px solid #DDD
  a
    color: $font_color

div.img
  margin-top: 10px
  min-height: 200px
  width: 100%
  background-size: cover
  padding-top: 1px

div.img.history
  min-height: auto
  background-position: center center
  margin-top: 0
  padding: 0


.titleBox
  background: rgba(255,255,255,0.6)
  padding: 8px 10px
  p
    font-size: 12px
  .category
    margin-top: 3px
    font-size: 9px
  h4
    margin-top: 3px
    font-size: 15px
  .menu
    padding-left: 15px
  ul.tags
    li
      font-size: 10px
      float: right
      padding: 2px 5px
      background-color: #EEE
      margin-left: 5px
  .description
    margin-top: 10px
    font-size: 13px
    line-height: 1.4

.titleBox-top
  margin-top: 130px
  height: 70px

.boxList
  margin-top: 10px

#menusBox
  width: 100%
  overflow: hidden
  position: relative
  > button
    position: absolute
    width: 44px
    height: 44px
    background: no-repeat
  #nextBtn
    top: 80px
    right: 5px
    background-image: url("/img/arrow_right.png")
  #prevBtn
    top: 80px
    left: 5px
    background-image: url("/img/arrow_left.png")
  #countBox
    position: absolute
    top: 25px
    left: 40px
    height: 34px
    li
      margin-right: 7px
      text-align: center
      padding-top: 2px
      width: 24px
      height: 24px
      border-radius: 12px
      float: left
      background-color: #FFF
      border: 1px solid #555
    li.selected
      background-color: #f5a623
  #menus
    height: 330px
    overflow: hidden
    padding: 15px 25px
    background-color: #f5e6ce
    .menuBox
      max-width: calc(100vw - 50px)
      margin-right: 25px
      float: left
    p
      text-align: center

#restImgsBox
  width: 100%
  overflow: hidden
  position: relative
  > button
    position: absolute
    width: 44px
    height: 44px
    background: no-repeat
  #nextBtn
    top: 80px
    right: 5px
    background-image: url("/img/arrow_right.png")
  #prevBtn
    top: 80px
    left: 5px
    background-image: url("/img/arrow_left.png")
  #countBox
    position: absolute
    top: 25px
    left: 40px
    height: 34px
    li
      margin-right: 7px
      text-align: center
      padding-top: 2px
      width: 24px
      height: 24px
      border-radius: 12px
      float: left
      background-color: #FFF
      border: 1px solid #555
    li.selected
      background-color: #f5a623
  #restImgs
    height: 240px
    overflow: hidden
    // padding: 15px 25px
    background-color: #f5e6ce
    .restImgBox
      max-width: calc(100vw - 50px)
      margin-right: 25px
      float: left
    p
      text-align: center

.bold
  font-weight: bold

#map
  height: 200px
  width: calc(100% - 50px)
  margin: 15px auto 0
  background-color: #EEE

dl
  margin: 10px 10px 0
  border: 1px solid #AAA
  dt,dd
    display: inline-block
    padding: 10px
    border-bottom: 1px solid #AAA
  dt
    width: 30%
    background-color: #CCC
    border-right: 1px solid #AAA
  dd
    width: 70%
  dt:last-child, dd:last-child
    border-bottom: none

p.message
  color: red
  font-weight: bold
  text-align: center
  margin-top: 15px
  padding: 0 10px

div.menuShowBox
  border: 1px solid #AAA
  border-radius: 5px
  margin: 15px 10px 0
  padding: 15px 25px
  background-color: #f5a623
  h3, .rest
    color: #FFF
    text-align: center
  h3
    font-size: 16px
    border-bottom: 2px solid #FFE426
    padding-bottom: 5px
    margin: 5px 15px 10px
  .dispDate
    font-size: 16px

button.cancel
  background-color: #999

.pdlr-10
  padding-left: 10px
  padding-right: 10px

.is-important
  color: #e0001a !important
  font-weight: bold

.is-hidden
  display: none !important